:root {
    --color-primary:#1e5afa;
    --color-primary-variant:#575757;
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-black:#000f37;
    --color-dark:#575757;
    --bottom-section-padding:12rem;
    --bottom-section-padding-mobiele:8rem;

    --transition:all 400ms ease;

    --container-width-lg:76%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --container-width-xs:100%;
    --container-width-xs-max:540px;
    --container-width-sm-max:720px;
    --container-width-md-max:960px;
    --container-width-lg-max:1140px;
    --container-width-xl-max:1320px;
    --container-width-xxl-max:1536px;

}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}

body {
    /* font poppins */
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark);
    font-size: 16px;
    line-height: 1.7;
}
.container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin: 0 auto;
}
h1 {
    font-size: 5.6rem;
    line-height: 1;
    color: var(--color-black);
}
